# Terraform
.terraform/
*.tfstate
*.tfstate.backup
override.tf
override.tf.json
crash.log

# AWS CLI creds (never check these in!)
*.tfvars

# virtual environment
venv

# build artefacts
infra/lambda/api.zip
__pycache__/
*.pyc
logs/
